html, body {
  width: 100%;
  height: 100%;
}

.header {
  height: 25%;
  background: #444444;
}

.main-section {
  height: 100%;
  width: 100%;
}

.main-left {
  height: 600px;
  width: 15%;
  background: #D8D8D8;
  float: left;
}

.main-center {
  height: 600px;
  width: 70%;
  background: #EFEFEF;
  float: left;
  position: relative;
}

.main-right {
  height: 600px;
  width: 15%;
  background: #D8D8D8;
  float: left;
}

.footer {
  height: 15%;
  width: 100%;
  background: #222222;
  position: absolute;
  bottom: 0;
}
